
/*
Fix style broken by inspinia form wizard
*/

.bootstrap-tagsinput{
    display: block;
}

.bootstrap-tagsinput > input {
    border: 0!important;
    display: inline!important;
}

.list-group-item{
    display: block!important;
    padding: 10px 15px!important;
}

.blueimp-gallery-image {
    height: 100%;
}

.clickable:hover{
    cursor: pointer;
}